<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet"  href="css/fstyle.css">
	<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<title>keep Going</title>
</head>
<body>
          
	  <div class="form">
	  	<form class="login-form" action="" method="post">
	  		<h2>Login</h2>
	  	<div class="icons">
	  		<a href="a"><i class="fab fa-facebook"></i></a>
	  		<a href="a"><i class="fab fa-twitter"></i></a>
	  		<a href="a"><i class="fab fa-github"></i></a>
	  		<a href="a"><i class="fab fa-linkedin"></i></a>
	  	</div>
            <input type="text" name="" value="" placeholder="Surname" required>
            <input type="text" name="" value="" placeholder="Firstname" required>
            <input type="text" name="" value="" placeholder="Username" required>
            <input type="password" name="" value="" placeholder="password" required>
            <button type="submit" name="button">Login</button>
            <p class="options">Not Registered?<a href="#">Create Account</a></p>
        </div>
	  	</form>
	  	<footer class="footer">
        <small>
        Copyright&copy; 2020 <br>   MADUKWE  .C for <br>
          MaC & MaC Industries
        </small>
</body>
</htm>